body{
    background-color: #f5e5b1fd !important;
}

.card{
    background-color: #f5e5b1fd !important;
    border-radius: 2rem !important;
    border: 0.3rem solid #b9a668fd !important;
    overflow: auto !important;
}

h1{
    color: #b9a668fd;
}

.buttonLink{
    width: 10rem !important;
    text-align: center !important;
    color: #b9a668fd !important;
    background-color: #f5e5b1fd !important;   
    border: 0.3rem solid #b9a668fd !important;
    border-radius: 1rem !important;
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
    font-weight: 500 !important;
}

.buttonLink:hover{
    background-color: #b9a668fd !important;
    color: #f5e5b1fd !important;
}

.arbol{
    background-color: #b9a668fd !important;
    color: #f5e5b1fd !important;
    border: 0.2rem solid #b9a668fd !important;
    font-weight: 600 !important;
    border-radius: 1rem !important;
}

.arbol:hover{
    border: 0.2rem solid #b9a668fd !important;
    background-color: #f5e5b1fd !important;
    color: #b9a668fd !important;
}
